git status for DIG-1143

Notes for https://github.com/CanDIG/candigv2-ingest/pull/17

Please add the results of the following commands:

```
git status
(candig) fnguyen@fnguyen-worktop:~/Documents/CanDIGv2$ git status
On branch daisieh/htsget-samples
Your branch is up to date with 'origin/daisieh/htsget-samples'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
  (commit or discard the untracked or modified content in submodules)
        modified:   Makefile
        modified:   etc/tests/test_integration.py
        modified:   lib/htsget/htsget_app (new commits)
        modified:   lib/katsu/katsu_service (modified content)
        modified:   settings.py

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        .python-version
        Pipfile
        example.env
        full-init
        full-init.sh
        get-token.sh
        lib/candig-data-portal/candig-data-portal_preflight.sh
        lib/candig-data-portal/candig-data-portal_setup.sh
        lib/federation-service/
        lib/tyk/configuration_templates/91.json
        password.sh
        test.txt
        test_log.txt

no changes added to commit (use "git add" and/or "git commit -a")
```

```
git submodule status
(candig) fnguyen@fnguyen-worktop:~/Documents/CanDIGv2$ git submodule status
 961e16823ae6903513338c0a75032b5607ebba61 lib/candig-data-portal/candig-data-portal (v0.1.8-7-g961e168)
 205497c40440501f64aafcd9a6ca6f0fd9820e0d lib/federation/federation (v1.0.0)
+da5fe788ba59f48040616166341798dcb4739c73 lib/htsget/htsget_app (v2.0.1-8-gda5fe78)
 65cd06def1235fdba53aab617d72a38bf9b2089f lib/katsu/katsu_service (v1.5.1-952-g65cd06de)
 c0e496f89cd9f3859bcfdb5e4a0958fbd6ee27b5 lib/opa/opa (v1.3.2)
 b0ff5be051f2fd55352e00450b7848dcf8354a3b lib/toil/toil-docker (releases/5.5.0)
```

```
cat tmp/error.txt
(empty)
```

```
docker ps
(candig) fnguyen@fnguyen-worktop:~/Documents/CanDIGv2$ docker ps
CONTAINER ID   IMAGE                              COMMAND                  CREATED       STATUS                   PORTS                                                           NAMES
f4232c5fd923   candig/federation:v1.0.0           "bash entrypoint.sh"     6 hours ago   Up 6 hours               0.0.0.0:4232->4232/tcp, :::4232->4232/tcp                       candigv2_federation_1
2abf3264b320   candigv2_vault-runner              "bash /app/entrypoin…"   6 hours ago   Up 6 hours                                                                               candigv2_vault-runner_1
e8eee9651893   hashicorp/vault:1.13               "docker-entrypoint.s…"   6 hours ago   Up 6 hours (unhealthy)   0.0.0.0:8200->8200/tcp, :::8200->8200/tcp                       candigv2_vault_1
dd1f398ad620   candig/opa-runner:v1.3.2           "bash /app/entrypoin…"   6 hours ago   Up 6 hours                                                                               candigv2_opa-runner_1
d860262660c0   openpolicyagent/opa:latest         "/opa run --server -…"   6 hours ago   Up 6 hours (unhealthy)   0.0.0.0:8181->8181/tcp, :::8181->8181/tcp                       candigv2_opa_1
d2942ae61d44   candigv2_tyk                       "/opt/tyk-gateway/ty…"   6 hours ago   Up 6 hours (healthy)     0.0.0.0:5080->8080/tcp, :::5080->8080/tcp                       candigv2_tyk_1
0e0b1e6127bb   redis:5.0-alpine                   "docker-entrypoint.s…"   6 hours ago   Up 6 hours (healthy)     0.0.0.0:6379->6379/tcp, :::6379->6379/tcp                       candigv2_tyk-redis_1
a107dae3edb9   candigv2_keycloak                  "/opt/jboss/tools/do…"   6 hours ago   Up 6 hours (healthy)     0.0.0.0:8080->8080/tcp, :::8080->8080/tcp, 8443/tcp             candigv2_keycloak_1
c4b0e06454d9   candig/candig-data-portal:v0.1.8   "bash entrypoint.sh"     6 hours ago   Up 6 hours (unhealthy)   0.0.0.0:2543->2543/tcp, :::2543->2543/tcp                       candigv2_candig-data-portal_1
8d8891e0f27d   candig/katsu:v2.0.0                "/app/chord_metadata…"   6 hours ago   Up 6 hours               0.0.0.0:8008->8000/tcp, :::8008->8000/tcp                       candigv2_katsu_1
6a5fe95a3d52   postgres:15-alpine                 "docker-entrypoint.s…"   6 hours ago   Up 6 hours               0.0.0.0:5433->5432/tcp, :::5433->5432/tcp                       candigv2_metadata-db_1
eb789f96e206   candig/htsget:v2.0.1               "bash entrypoint.sh"     6 hours ago   Up 6 hours               0.0.0.0:3333->3000/tcp, :::3333->3000/tcp                       candigv2_htsget_1
3f396dc2b969   minio/minio:latest                 "/usr/bin/docker-ent…"   6 hours ago   Up 6 hours (healthy)     0.0.0.0:9000-9001->9000-9001/tcp, :::9000-9001->9000-9001/tcp   candigv2_minio_1
```

Integration test failures are specifially Katsu
```
make test-integration
(candig) fnguyen@fnguyen-worktop:~/Documents/CanDIGv2$ make test-integration                                                                                                                      [227/783]
.env:124: extraneous text after 'define' directive                                                                                                                                                         
python ./settings.py                                                                                 
source ./env.sh; pytest ./etc/tests                                                                  
=========================================================================================== test session starts ===========================================================================================
platform linux -- Python 3.10.11, pytest-7.2.0, pluggy-1.0.0                                                                                                                                               
rootdir: /home/fnguyen/Documents/CanDIGv2                                                            
collected 24 items                                                                                                                                                                                         
                                                                                                                                                                                                           
etc/tests/test_integration.py ................FFF.....                                                                                                                                              [100%] 
                                                                                                                                                                                                           
================================================================================================ FAILURES =================================================================================================
____________________________________________________________________________________________ test_setup_katsu _____________________________________________________________________________________________
                                                                                                                                                                                                           
self = <Response [200]>, kwargs = {}                                                                                                                                                                       
                                                                                                                                                                                                           
    def json(self, **kwargs):                                                                                                                                                                              
        r"""Returns the json-encoded content of a response, if any.                                                                                                                                        
                                                                                                                                                                                                           
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.                             
        :raises requests.exceptions.JSONDecodeError: If the response body does not                                                                                                                         
            contain valid json.
        """
     
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
     
        try:
>           return complexjson.loads(self.text, **kwargs)

bin/miniconda3/envs/candig/lib/python3.10/site-packages/requests/models.py:971: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

s = '\n\n\n\n\n\n\n<!DOCTYPE html>\n<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark"...iv>\n\n    <div id="js-global-screen-reader-notice" class="sr-only" aria-live=
"polite" ></div>\n  </body>\n</html>\n\n'
cls = None, object_hook = None, parse_float = None, parse_int = None, parse_constant = None, object_pairs_hook = None, kw = {}

    def loads(s, *, cls=None, object_hook=None, parse_float=None,
            parse_int=None, parse_constant=None, object_pairs_hook=None, **kw):
        """Deserialize ``s`` (a ``str``, ``bytes`` or ``bytearray`` instance                                                                                                                               
        containing a JSON document) to a Python object.                                                                                                                                                    
     
        ``object_hook`` is an optional function that will be called with the
        result of any object literal decode (a ``dict``). The return value of
        ``object_hook`` will be used instead of the ``dict``. This feature
        can be used to implement custom decoders (e.g. JSON-RPC class hinting).
     
        ``object_pairs_hook`` is an optional function that will be called with the
        result of any object literal decoded with an ordered list of pairs.  The
        return value of ``object_pairs_hook`` will be used instead of the ``dict``.
        This feature can be used to implement custom decoders.  If ``object_hook``
        is also defined, the ``object_pairs_hook`` takes priority.
     
        ``parse_float``, if specified, will be called with the string
        of every JSON float to be decoded. By default this is equivalent to
        float(num_str). This can be used to use another datatype or parser
        for JSON floats (e.g. decimal.Decimal).
     
        ``parse_int``, if specified, will be called with the string
        of every JSON int to be decoded. By default this is equivalent to
        int(num_str). This can be used to use another datatype or parser
        for JSON integers (e.g. float).
     
        ``parse_constant``, if specified, will be called with one of the
        following strings: -Infinity, Infinity, NaN.
        This can be used to raise an exception if invalid JSON numbers
        are encountered.
     
        To use a custom ``JSONDecoder`` subclass, specify it with the ``cls``
        kwarg; otherwise ``JSONDecoder`` is used.
        """
        if isinstance(s, str):
            if s.startswith('\ufeff'):
                raise JSONDecodeError("Unexpected UTF-8 BOM (decode using utf-8-sig)",
                                      s, 0)
        else:
            if not isinstance(s, (bytes, bytearray)):
                raise TypeError(f'the JSON object must be str, bytes or bytearray, '
                                f'not {s.__class__.__name__}')
            s = s.decode(detect_encoding(s), 'surrogatepass')
     
        if (cls is None and object_hook is None and
                parse_int is None and parse_float is None and
                parse_constant is None and object_pairs_hook is None and not kw):
>           return _default_decoder.decode(s)

bin/miniconda3/envs/candig/lib/python3.10/json/__init__.py:346: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <json.decoder.JSONDecoder object at 0x7f1539984100>
s = '\n\n\n\n\n\n\n<!DOCTYPE html>\n<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark"...iv>\n\n    <div id="js-global-screen-reader-notice" class="sr-only" a[122/783]
"polite" ></div>\n  </body>\n</html>\n\n'
_w = <built-in method match of re.Pattern object at 0x7f1539a85f20>

    def decode(self, s, _w=WHITESPACE.match):
        """Return the Python representation of ``s`` (a ``str`` instance
        containing a JSON document).
     
        """
>       obj, end = self.raw_decode(s, idx=_w(s, 0).end())

bin/miniconda3/envs/candig/lib/python3.10/json/decoder.py:337: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <json.decoder.JSONDecoder object at 0x7f1539984100>
s = '\n\n\n\n\n\n\n<!DOCTYPE html>\n<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark"...iv>\n\n    <div id="js-global-screen-reader-notice" class="sr-only" aria-live=
"polite" ></div>\n  </body>\n</html>\n\n'
idx = 7

    def raw_decode(self, s, idx=0):
        """Decode a JSON document from ``s`` (a ``str`` beginning with
        a JSON document) and return a 2-tuple of the Python
        representation and the index in ``s`` where the document ended.
     
        This can be used to decode a JSON document from a string that may
        have extraneous data at the end.
     
        """
        try:
            obj, end = self.scan_once(s, idx)
        except StopIteration as err:
>           raise JSONDecodeError("Expecting value", s, err.value) from None
E           json.decoder.JSONDecodeError: Expecting value: line 8 column 1 (char 7)

bin/miniconda3/envs/candig/lib/python3.10/json/decoder.py:355: JSONDecodeError

During handling of the above exception, another exception occurred:

    def test_setup_katsu():
        test_loc = "https://raw.githubusercontent.com/CanDIG/katsu/develop/chord_metadata_service/mohpackets/data/small_dataset/synthetic_data/Program.json"
        response = requests.get(test_loc)
        assert response.status_code == 200
     
        site_admin_token = get_token(username=ENV['CANDIG_SITE_ADMIN_USER'], password=ENV['CANDIG_SITE_ADMIN_PASSWORD'])
        headers = {
            'Authorization': f"Bearer {site_admin_token}",
            'Content-Type': 'application/json; charset=utf-8'
        }
        response = requests.post(f"{ENV['CANDIG_URL']}/katsu/moh/v1/ingest/programs", headers=headers, json=response.json())
        print(response.json())
        if response.status_code >= 400:
            errors = response.json()['error during ingest_programs']
            assert "code='unique'" in errors and "program_id" in errors # this means that the error was just that the program IDs already exist
        else:
            assert response.status_code >= 200 and response.status_code < 300
     
        test_loc = "https://github.com/CanDIG/katsu/blob/sonchau/part_32/chord_metadata_service/mohpackets/data/small_dataset/synthetic_data/Donor.json"
        response = requests.get(test_loc)
        assert response.status_code == 200
>       response = requests.post(f"{ENV['CANDIG_URL']}/katsu/moh/v1/ingest/donors", headers=headers, json=response.json())

etc/tests/test_integration.py:295: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <Response [200]>, kwargs = {}

    def json(self, **kwargs):
        r"""Returns the json-encoded content of a response, if any.
     
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        :raises requests.exceptions.JSONDecodeError: If the response body does not
            contain valid json.
        """
     
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
     
        try:
            return complexjson.loads(self.text, **kwargs)
        except JSONDecodeError as e:
            # Catch JSON-related errors and raise as requests.JSONDecodeError
            # This aliases json.JSONDecodeError and simplejson.JSONDecodeError
>           raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
E           requests.exceptions.JSONDecodeError: Expecting value: line 8 column 1 (char 7)

bin/miniconda3/envs/candig/lib/python3.10/site-packages/requests/models.py:975: JSONDecodeError
------------------------------------------------------------------------------------------ Captured stdout call -------------------------------------------------------------------------------------------
['2 programs were created.']
_______________________________________________________________________ test_katsu_users[CANDIG_SITE_ADMIN-SYNTHETIC-2-SYNTHETIC-1] _______________________________________________________________________

user = 'CANDIG_SITE_ADMIN', dataset = 'SYNTHETIC-2', not_dataset = 'SYNTHETIC-1'

    @pytest.mark.parametrize('user, dataset, not_dataset', user_auth_datasets())
    def test_katsu_users(user, dataset, not_dataset):
        username = ENV[f"{user}_USER"]
        password = ENV[f"{user}_PASSWORD"]
        headers = {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
            'Authorization': f"Bearer {get_token(username=username, password=password)}"
        }
     
        response = requests.get(f"{ENV['CANDIG_URL']}/katsu/moh/v1/authorized/programs/", headers=headers)
        programs = list(map(lambda x: x['program_id'], response.json()['results']))
        print(programs)
        assert dataset in programs
        assert not_dataset not in programs
     
        response = requests.get(f"{ENV['CANDIG_URL']}/katsu/moh/v1/authorized/donors/", headers=headers)
        assert len(response.json()) > 0
        print(response.json())
        donors = list(map(lambda x: x['program_id'], response.json()['results']))
        print(donors)
>       assert dataset in donors
E       AssertionError: assert 'SYNTHETIC-2' in [] 

etc/tests/test_integration.py:332: AssertionError
------------------------------------------------------------------------------------------ Captured stdout call -------------------------------------------------------------------------------------------
['SYNTHETIC-2']
{'count': 0, 'next': None, 'previous': None, 'results': []}
[]
_______________________________________________________________________ test_katsu_users[CANDIG_NOT_ADMIN-SYNTHETIC-1-SYNTHETIC-2] ________________________________________________________________________

user = 'CANDIG_NOT_ADMIN', dataset = 'SYNTHETIC-1', not_dataset = 'SYNTHETIC-2'

    @pytest.mark.parametrize('user, dataset, not_dataset', user_auth_datasets())
    def test_katsu_users(user, dataset, not_dataset):
        username = ENV[f"{user}_USER"]
        password = ENV[f"{user}_PASSWORD"]
        headers = {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
            'Authorization': f"Bearer {get_token(username=username, password=password)}"
        }
     
        response = requests.get(f"{ENV['CANDIG_URL']}/katsu/moh/v1/authorized/programs/", headers=headers)
        programs = list(map(lambda x: x['program_id'], response.json()['results']))
        print(programs)
        assert dataset in programs
        assert not_dataset not in programs
     
        response = requests.get(f"{ENV['CANDIG_URL']}/katsu/moh/v1/authorized/donors/", headers=headers)
        assert len(response.json()) > 0
        print(response.json())
        donors = list(map(lambda x: x['program_id'], response.json()['results']))
        print(donors)
>       assert dataset in donors
E       AssertionError: assert 'SYNTHETIC-1' in [] 

etc/tests/test_integration.py:332: AssertionError
------------------------------------------------------------------------------------------ Captured stdout call -------------------------------------------------------------------------------------------
['SYNTHETIC-1']
{'count': 0, 'next': None, 'previous': None, 'results': []}
[]
========================================================================================= short test summary info =========================================================================================
FAILED etc/tests/test_integration.py::test_setup_katsu - requests.exceptions.JSONDecodeError: Expecting value: line 8 column 1 (char 7)
FAILED etc/tests/test_integration.py::test_katsu_users[CANDIG_SITE_ADMIN-SYNTHETIC-2-SYNTHETIC-1] - AssertionError: assert 'SYNTHETIC-2' in []
FAILED etc/tests/test_integration.py::test_katsu_users[CANDIG_NOT_ADMIN-SYNTHETIC-1-SYNTHETIC-2] - AssertionError: assert 'SYNTHETIC-1' in []
====================================================================================== 3 failed, 21 passed in 26.27s ======================================================================================
make: *** [Makefile:445: test-integration] Error 1 
```


resolved!